.product {
  width: 100%;
  min-height: 100svh;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.searchBar {
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.searchSelect {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  flex: 1;
}
.searchInput > input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 12px;
}
.searchInput > input:focus {
  outline: none;
}
.searchButton {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 5px;
}
.addProductButton {
  width: 100%;
  display: flex;
  gap: 12px;
}
.addProductButton > button {
  flex: 1;
  cursor: pointer;
  height: 50px;
  border: none;
  background: white;
  color: black;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.addProductButton button:hover {
  background-color: var(--gray-color);
}
.addProductButton button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}
.productMain {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.top {
  display: flex;
  border-bottom: 1px solid var(--gray-color);
}
.topName {
  flex: 1;
  gap: 0.5rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.topName > span {
  cursor: pointer;
}

.topCategory {
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  flex-direction: column;
}
.topMenu {
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  flex-direction: column;
}
.topMenu > span {
  cursor: pointer;
}
.selected {
  color: red;
}
.topOrder {
  flex-basis: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  flex-direction: column;
}
.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px 5%;
  gap: 10px;
}

.selectPage {
  border-bottom: 1px solid var(--main-color);
}

.page span {
  cursor: pointer;
}

@media (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
  .searchBar {
    padding: 0.5rem;
  }
  .searchSelect {
    flex-basis: 20%;
  }
  .searchButton {
    flex-basis: 20%;
  }
  .topPrice {
    display: none;
  }
  .topMenu {
    flex: 1;
    flex-direction: column;
  }
  .topCategory {
    flex: 1;
    flex-direction: column;
    /* border-left: none; */
  }
  .page {
    margin: 24px 20px;
  }
}
