.container {
  color: black;
  --font-color: black;
  --gray-color: #cacbdc;
  background-color: white;
}
.container a {
  color: black;
}
.container input {
  color: black;
}
.container button {
  color: black;
}
