.adminProductcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray-color);
  height: auto;
}
/* .isClick {
  border: 5px solid red;
}
.isUpdate {
  border: 5px solid yellow;
}
.mainIsClick {
  display: flex;
  flex-direction: column;
  height: auto;
} */
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 75px;
}
.name {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
  text-align: center;
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
  word-break: break-all;
  padding: 1rem;
}
/* .name > span {
  cursor: pointer;
} */
/* .nameIsClick {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 70px;
  min-height: 70px;
}
.nameIsClick > input {
  width: 80%;
} */
/* .upIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */
.topRight {
  width: 100%;
  flex-basis: 60%;
  display: flex;
  border-left: 1px solid var(--gray-color);
}
.category {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.createdAt {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.price {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.orderButtonContainer {
  display: flex;
  flex-basis: 100px;
  gap: 0.5rem;
  padding: 1rem;
}
.orderButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderButton button {
  width: 100%;
  height: 50px;
  border: none;
  background: white;
  color: black;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.orderButton button:hover:not(:disabled) {
  background-color: var(--gray-color);
}
.orderButton button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}
/* .price > input {
  width: 80%;
}
.bottom {
  width: 100%;
  display: flex;
}
.bottomLeft {
  flex: 1;
  display: flex;
}
.textarea {
  width: 100%;
  min-height: 200px;
  height: auto;
  resize: none;
}
.bottomRight {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.list {
  border-top: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  height: auto;
}
.listTip {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin: 10px 0;
}
.imageList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}
.addButton {
  width: 100%;
}
.addButton > button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  background: var(--main-color);
  color: #f9f9f9;
}
.addButton button:hover {
  cursor: pointer;
  border: 3px solid var(--main-color);
  background-color: #f9f9f9;
  color: var(--font-color);
}

.stockList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}
.productCardButton {
  display: flex;
  flex-direction: column;
}
.buttonMain {
  display: flex;
  height: 50px;
  min-height: 50px;
}
.buttonSelect {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.buttonSelect > select {
  background-color: white;
}
.buttonMain > button {
  cursor: pointer;
  width: calc(100% / 3);
  height: 50px;
  border: none;
  background: var(--main-color);
  color: #f9f9f9;
}
.buttonMain > button:hover {
  cursor: pointer;
  border: 3px solid var(--main-color);
  background-color: #f9f9f9;
  color: var(--font-color);
}
.mobilePrice {
  display: none;
} */

@media (max-width: 768px) {
  .price {
    display: none;
  }
  .name {
    flex-basis: calc(100% / 3);
    padding: 0.5rem;
  }
  .topRight {
    flex-basis: calc(100% / 3);
  }
  .category {
    flex-basis: 100%;
    padding: 0.5rem;
  }
  .createdAt {
    display: none;
    flex-basis: 50%;
    padding: 0.5rem;
  }
  .orderButtonContainer {
    padding: 0.5rem;
  }
  .topRight {
    border-left: none;
  }
  /* .bottom {
    flex-direction: column;
  }
  .mobilePrice {
    display: flex;
    flex-direction: row;
  }
  .mobilePrice > label {
    flex-basis: 20%;
  }
  .mobilePrice > input {
    flex: 1;
    width: 100%;
  }
  .topRight {
    border-left: none;
  } */
}
